@model IEnumerable<ProjetoG6.Models.Candidatos>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataNascimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroAluno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PasswordConfirmacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BolsaID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CandidaturaID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EntervistaID)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroAluno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordConfirmacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BolsaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CandidaturaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntervistaID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CandidatoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CandidatoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CandidatoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
